header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: rgb(247, 232, 232);
}

input {
  width: 350px;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid black;
}

.restaurant-container {
  text-align: center;
  border: 1px solid;
  width: 175px;
  margin: 0;
}

.scooter {
  width: 400px;
  margin: 0 auto;
}

.restaurant-image {
  width: 75px;
}
